.text-box {
    position: absolute;
    text-align: center;
    left: 50vw;
    justify-content: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> a89566c (Added a template blog page (can't really work on it without knowing what to do for it), as well as small edits.)
