html * {
	font-family: Nunito, sans-serif; !important
}

body {
	background-color: #E3F5FC;
}
.title {
	  font-size: 50px;
	  position: fixed;
	  right: 13vw;
	  margin: auto;
  }

.slogan {
	position: fixed;
	top: 50px;
	left: 20vw;
}

.logo {
	position: fixed;
	top: 3vh;
	left: 3vw;
}

.footer1 {
	position: absolute;
	bottom: 5px;
	right: 0.5vw;
}

.footer2 {
	position: absolute;
	bottom: 5px;
	left: 0.5vw;
}



/* Tab CSS:
Style the tab */
.tab {
	overflow: hidden;
	background-color: #E3F5FC;
	position: absolute;
	right: 5vw;
	top: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 1vw;
	transition: 0.3s;
	background-color: #E3F5FC;
	font-size: 20px;
	margin: 0 10px 10px 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color: #ED037C;
}

/* Create an active/current tablink class */
.tab button.active {
	color: #009ce0;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #a20000;
	position: fixed;
	top: 175px;
	background-color: #E3F5FC;
}
