html * {
	font-family: Nunito, sans-serif; !important
}

body {
	background-color: #E3F5FC;
}

.homepage{
	position: relative;
	top: 1vh;
	left: 1vh;
}

.slogan {
	position: relative;
	top: 3vh;
	left: 3vh;
}



#1 {
	position: relative;
	bottom: 30vh;
	right: 55vw;
}

#2 {
	position: relative;
	bottom: 25vh;
	left: 15vw;
}
#3 {
	position: relative;
}
#5 {
	position: relative;
	bottom: 45vw;
}

#6 {
	position: relative;
	right: 50vw;
}

#ASM {
	float: right;
	margin-left: 10px;
}

#ND {
	float: left;
	margin-right: 10px;
}

.bold {
	font-weight: 700;
}
.midtext {
	font-size: large;
}
.bigtext {
	font-size: larger;
}
/* Tab CSS:
Style the tab */
.tab {
	overflow: hidden;
	background-color: #E3F5FC;
	position: relative;
	right: 3vw;
	top: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 5vw;
	transition: 0.3s;
	background-color: #E3F5FC;
	font-size: 20px;
	margin: 0 10px 10px 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color: #ED037C;
}

/* Create an active/current tablink class */
.tab button.active {
	color: #009ce0;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	position: relative;
	top: 8vh;
	left: 15vw;
	background-color: #E3F5FC;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.footer-wrapper {
	display: flex;
	position: relative;
	top: 15vh;
	height: 50px;
}

.footer1 {
	height: 100%;
	width: 50%;
}

.footer2 {
	text-align: right;
	height: 100%;
	width: 50%;
}
